<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/style.css">
    <!-- development version, includes helpful console warnings -->
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    

    <title>Werkstück - Schreibtischforschung</title>
</head>
<header><h1>Schreibtischforschung Werkstück</h1></header>
<body>
    <div id="werkstueck">
        <div id="mainframe">
            <img src="/images/Schreibtisch_Test_Bild.jpeg" alt="" usemap="#schreibtisch" >
            <map name="schreibtisch">
                <area shape="circle" coords="450, 678, 50"  @click="addItem('kaffetasse')">
                <area shape="circle" coords="360, 630, 20" @click="addItem('minzmönch')">
            </map>
        </div>
        
        <!-- Rechtsseitiges Inventar, evtl zum ausklappen, wo schon geklickte Elemente vorhanden sind -->
        <div id="inventory">
            <h2>Inventar - Bereits gefundene Storys</h2>
            <ul class="items" v-for="item in inventory">
                <li v-if="inventoryEmpty === true"> Noch nichts gefunden </li>
                <li class="item">
                    <img class="item-icon" :src="item.image" alt=""> 
                    <h3 class="item-title">{{ item.was }}</h3>
                    <h4 class="item-description"> {{ item.text }} </h4> </li>
            </ul>
        </div>
    </div>
</body>

</html>