* {
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111344;
    list-style: none;
}

header {
    text-align: center;
    background-color: #5bba6f;
    padding: 1rem;
    width: 100%;
    z-index: 9;
}

body {
    margin: 0;
    margin-bottom: 1,5rem;
    background-color: #faf0e6;
}

#inventory ul {
    list-style: none;
}

#inventory {
    width: 100%;
    margin: 1rem;
    margin-top: 786px;
    z-index: 1;
}

#inventory .inv-item{
    text-align: center;
    align-content: flex-start;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

#inventory .inv-item .item-icon {
    width: 150px;
    height: 150px;
    order: 1;
}

#inventory h3 {
    order: 2;
}

#inventory h2 {
    text-align: center;
    background-color: #5bba6f;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

#werkstueck {
    width: 100%;
    display: inline-flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}

#werkstueck .schreibtisch-bild {
    align-self: center;
    position: absolute;
    margin-top: 8%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#mainframe {
    height: fit-content;
    width: 100%;
    box-shadow: 0 2px 8px #111344;
    border: 2px #82667f;
    border-radius: 1rem;
    margin: 1rem;
    align-self: center;
    justify-content: space-around;
    z-index: 1;
}

#inventory .inv-item {
    border: #111344 2px solid;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #faf0e6;
    margin: 1rem ;

}

#inventory .inv-btn {
    width: 50px;
    height: 1.5rem;
    text-align: center;
    background-color: darken( #5bba6f, 15%);
    border: 1px #82667f solid;
}

#inventory .inv-item img{
    order: -1;
}

#inventory .inv-item h3 {
    order: -2;
}

#inventory .inv-item audio{
    order: 5;
    width: 20%
}

#inventory .inv-item h4{
    order: 1;
    width: 50%
}

#werkstueck #inventory {
    display: flex;
    flex-flow: nowrap column;
}